{% extends "base.html" %}

{% block content %}

<h1>Detalles del evento</h1>
<h2>{{reserva.tipo_evento}}</h2> 
<p>{{reserva.apellido}} {{reserva.fecha}} {{reserva.hora}} </p>
{{error}}
<form method= 'POST'>
    {% csrf_token %}
    {{form.as_p}}

<button>
    Actualizar
</button>
</form>
<form action="{% url 'realizado' res_id=reserva.id %}" method='POST'>
    {% csrf_token %}
    <button>
        Realizado
    </button>
</form>
<form action="{% url 'borrar' res_id=reserva.id %}" method='POST'>
    {% csrf_token %}
    <button>
        Borrar
    </button>
</form>

{% endblock  %}