{% extends "base.html" %}


{% block content %}
<main class = "container py-5">
    <section class="card card-body">
        <h1 class= "display-1 text-center">Panel administrar reservas</h1>
        <p>Este es su panel para adminsitrar reservas, desde aqui podra reservar,modificar,marcar evento ya realizado o borrar el evento en caso de no realizarlo y liberar la fecha</p>
        <div class="text-center">
            <a href="/login" class="btn btn-secondary">Login</a>
            <a href="/registro" class="btn btn-dark">Registrate</a>
        </div>
    </section>
</main>
{% endblock %}
    